.form_container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.register_form {
	border: 1px solid #b7b7b7;
	padding: 25px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
